body {
    margin: 0;
    padding: 0;
    font-family: quicksand;

}
.wrapper {
    bottom: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 3px 100px;
    box-sizing: border-box;
    transition: .3s;
    background: black;
    font-size: 12px;
}

nav.black {
    background: black;
    height: 60px;
    padding: 3px 100px;  
}

nav .logo {
    padding: 12px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    color: white;
}

nav.black .logo {
    color:white;
}

nav ul {
    list-style: none;
    float: right;
    margin: -10px;
    padding 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

ul li a:hover {
    color: #eaa6a0; 
}

nav ul li a {
    line-height: 80px;
    color: white;
    padding: 10px 30px;
    text-decoration: none; 
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a {
        color: white;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a.active {
    background: #E2472f; 
    color: #fff;
    border-radius: 6px;

}

.caret-icon {
    padding-left: 5px;
}



section.sec1 {
    width: 100%;
    height: 100vh;
    background: url(BG.jpg);
    background-size: cover;
    background-position: center; 
 

}

#flex-container {
display: flex;
align-content: stretch;
height: 300px;
margin-top: -20px;
/* border: solid;
border-color: blue; */
}

.category-names {
    text-align: center;
    padding-top: 130px;
    font-size: 25px; 
    color: white;
    /* font-weight: 600; */

}

.bouquet {
    /* width: 400px; */
    height: 320px;
    flex: 1;
    /* border: solid;
    border-color: red; */
    background: url(wedding.jpg);
    background-size: cover;
    background-position: center; 
}

.arrangement {
    /* width: 400px; */
    flex: 1;
    height: 320px;
    /* border: solid;
    border-color: red; */
    background: url(arrangement.jpg);
    background-size: cover;
    background-position: center; 
}

.plants {
    /* width: 400px; */
    flex: 1;
    height: 320px;
    /* border: solid;
    border-color: red; */
    background: url(plants.jpg);
    background-size: cover;
    background-position: center; 
}

.quote-section {
    height: 190px;
    background: #f2f2f2;
    margin-top: 0px;
    padding-top: 30px;
    /* border: solid;
    border-color: red; */
    text-align: center;
    font-size:23px;
    vertical-align: middle; 
}

.quote {
    padding-top: -5px;
    padding-bottom: 5px;
    /* border: solid;
border-color: blue; */
line-height: 40px;
}

.quote-div {
    /* border: solid;
    border-color: blue; */
    margin-top: 15px;
}

.quoter {
    font-size: 19px;
}

.aboutus-container {
display: flex; 
align-content: stretch;
height: 450px;
/* border: solid;
border-color: blue; */
justify-content: center;
}

.about-us-title {
    color: black;
    font-size: 50px;
    text-align: left;

}

.about-us-description {
    color: black;
    font-size:12px;
    text-align: justify;
    font-size: 15px;
    line-height: 25px; 
   
    margin-top: -22px; 
}

.about-us1 {
    flex: 1; 
    height: 450px;
    background: white;
    padding-left: 45px;
    margin-left: 10px;
    margin-right: 25px; 
    padding-right: 20px;
    
}
.about-us2 {
   flex: 1; 
    height: 450px;
    background: url(about-us.jpg);
    background-size: cover;
    background-position: center; 
} 

.text-block {
    color: white; 
    text-align: center;
    padding-top: 15%;
    padding-bottom: 0px; 
    font-size: 3.3em;
    /* border: solid;
    border-color: blue; */
}

.scroll-down {
    text-align: center;
    color: white;
    /* border: solid;
    border-color: red; */
    margin-top: 11%;
    /* padding-bottom: -50px; */
}

.sub-text {
    color: white; 
    font-size: 20px;
    font-weight: 500;
    /* border: solid;
    border-color: red; */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px; 
    margin-top: -50px;
}
h1, h2 { 
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h2 {
    margin-top: -50px;
   
}

.content {
   margin-top: 20px;
}

.content p {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 12px;
    line-height: 25px; 

}

footer {
    background: black; 
    height: 200px;
    display: flex;
    /* border: solid; */
    line-height: 25px; 
    margin-bottom: 10px;
    /* border-color: blue; */
    justify-content: space-between;
}

.businessname-footer {
    font-weight: 900;
}

.footer-links {
    display: flex; 
    height:176px;
    width: 600px;
    align-content: stretch;
    /* border: solid;
    border-color: red; */
    color: white; 
    padding-left: 25px;
    padding-top: 30px; 
    line-height: 30px;
}

footer ul li {
    list-style: none;
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
 
}

.contact-info {
    height:176px;
    width: 250px;
    /* border: solid; */
    color: white;
    /* border-color: red; */
    padding-left: 20px;
    padding-top: 40px; 
    line-height: 30px; 
    float: right;

}

.social-media-section {
    height:200px;
    width: 250px;
    /* border: solid;
    border-color: red; */
    float: right;
}

.icon {
    padding-right: 15px;
}

.social-media-icon-set {
    padding-top: 60px;
    padding-right: 32px;
    float: right;
}